#motorcycle-form {
  max-width: 700px;
  border-radius: 5px;
}

#motorcycle-form label {
  color: gray;
}

#amount-payable label::after {
  background: none !important;
}

.form-header {
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2em;
}

#delete-motorcycle {
  padding: 0 !important;
  position: relative;
}

#delete-motorcycle .divide {
  width: 70%;
  background: gainsboro;
  height: 1px;
  margin: auto;
}

@media (width >= 768px) {
  #delete-motorcycle img {
    width: 25%;
  }
}
