.main-container {
  height: 70vh;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.carousel .control-arrow {
  opacity: 1;
  pointer-events: auto; /* Allow click events on arrows */
  transition: none; /* Disable any transitions */
}

.carousel.carousel-slider .control-arrow {
  height: 3rem;
  width: 5rem;
  background: rgb(47 206 7);
  margin-top: 30vh;
}

.control-prev {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.control-next {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.moto-photo {
  max-width: 60vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

.social {
  height: 2rem;
}

@media (width >= 992px) {
  .slide {
    max-height: 80vh; /* Reduce the maximum height for larger screens */
  }
}
