.main-container {
  height: 70vh;
}


/* Set maximum height for the carousel slides */
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


/* Adjust slide size on larger screens using media query */
@media (min-width: 992px) {
  .slide {
    max-height: 80vh; /* Reduce the maximum height for larger screens */
  }
}

/* @media (min-width: 1200px) {
  .slide {
    max-height: 80vh; 
  }
} */

.moto-photo {
  max-width: 60vw;
  max-height: 60vh;
  width: auto;
  height: auto;
}

.social {
  height: 2rem;
}

