* {
  box-sizing: border-box;
  font-family: Roboto, 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

.nav-bar {
  top: 0;
  left: 0;
  right: 0;
}

.reserve-form {
  height: calc(100vh - 20px);
}

.vespa-form {
  max-width: 960px;
}

.vespa-form .form-select {
  max-width: 220px;
}

.vespa-form button,
.vespa-form select {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 25px;
}

.vespa-form hr {
  border-width: 2px;
  opacity: 1;
}

select ::before,
select ::after {
  background: red;
  color: red;
}

#motorcycle-show {
  height: 100vh;
}

#motorcycle-show > * {
  height: 100%;
}

#motorcycle-show img {
  width: inherit;
}

.btn-action {
  height: 50px;
  border: transparent;
  color: white;
  background-color: var(--main-bkg);
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: fit-content;
}

.btn-nav-left {
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 50px;
  padding-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:root {
  --main-bkg: #8ab30e;
}
